<form [formGroup]="searchForm" (ngSubmit)="onSubmit">
<input type="text" formControlName="cardName" placeholder="Nome da Carta">
<select formControlName="block">
    <option value="">Selecione um Bloco</option>
    <option value="Amonkhet">Amonkhet</option>
    <option value="Ixalan">Ixalan</option>
    <option value="Zendikar">Zendikar</option>
    <option value="Ravnica">Ravnica</option>
    <option value="Onslaught">Onslaught</option>
</select>
<button type="submit" [disabled]="!searchForm.valid">Pesquisar</button>
</form>
